/*MOST UPDATED CODE IS ON THE GITHUB!!!!!!*/


/*Everything related to the responsiveness -------------------------------------*/
/** {
    box-sizing: border-box;
}*/

body {
    margin:0;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.input-label {
    font-weight: 700; 
    color: #040707;
}
/*Default is for mobile*/
/*[class*="col-"] {
    width: 100%;
}*/

@media only screen and (max-width: 800px) {
    body { 
        font-size: 60%;
        overflow: auto;
    }
    [class*="col-"] {
        width: 100%;
    }
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        bottom: 90px;
        right: 10%;
        z-index: 1; /* Sit on top */
        width: 80%;
        height: 40%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: #F9ECE3;
        font-size: 150%;
    }
}

/*Only include styles for mobile under here*/
@media only screen and (min-width: 801px) { 
     /*For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-2a {width: 18%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        bottom: 90px;
        right: 10%;
        z-index: 1; /* Sit on top */
        width: 20%;
        height: 40%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: #F9ECE3;
    }
}

.hidden {
    display: none !important;
}

#header {
    display: block;
    font-family: 'Raleway', sans-serif;
    background: #F9ECE3;
    color: #040707;
    padding: 1% 10%;
    height: 50px;
}

#siteHeader {
    float: right;
}


h1 {
    font-weight: 700; 
    font-size: 200%; 
    color: #666
}

h2 {
    font-weight: 400; 
    font-size: 100%;
    font-style: italic;
    color: #040707
}

.tooltip {
    border: 1px solid #959188;
    color: #959188;
    font-size: 12px;
    padding: 1px 7px;
    border-radius: 50%;
    width: 3px;
    display: inline;
}

.tooltip:hover {
    background: #959188;
    color: #fff;
}

.tooltip .hover-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  top: -10px;
  left: 125px;
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .hover-text {
  visibility: visible;
}

#editColumn {
	font-family: 'Raleway', sans-serif; 
	position: relative; 
	text-align: left; 
	/*float: left; */
	margin-left: 15%;
    /*margin-right: 156px;*/
	padding-top: 2%;
	width: 85%; 
	/*background: #e6e6e6;*/
	/*border-bottom: 1px solid #666;
	border-bottom-style: dotted;*/
}

.parameters {
    float: left;
    /*padding-right: 5%;*/
    /*background: #ccc;*/
    /*height: 70px;*/
    /*border: 0.5px solid;*/
    /*vertical-align: middle;*/
}

/* The container for the radio button */
.container {
    display: block;
    position: relative;
    padding-left: 30px;
    /*margin-top: 10px;*/
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 100%;
    font-weight: 400;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: relative;
    opacity: 0;
    margin: 0;
    width: 0;
}


/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #959188;
    border-radius: 50%;
}

.checked {
    display:inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height:22px;
    background: #fff;
    border-radius:50%;
    border: 1px solid #959188;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checked:before{
    content:"";
    position: absolute;
    width:3px;
    height:9px;
    background-color:#fff;
    left:11px;
    top:6px;
}

.checked:after{
    content:"";
    position: absolute;
    width:3px;
    height:3px;
    background-color:#fff;
    left:8px;
    top:12px;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #F9ECE3;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #fff;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checked {
    background-color: #905E3A;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #959188;
}

td label.container {
    margin:5px;
}
/*Styles for sliders*/
.slidecontainer {
    /*width: 80%;*/
    /*padding-right: 40px;*/
    /*float: left;*/
    margin-top: 10px;


}
.slider {
    -webkit-appearance: none;
    width: 210px;
    height: 2px;
    /*border-radius: 5px;*/
    background: #D9C0B0;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 10px;
}

/*.slider:hover {
    opacity: 1;
}*/

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #959188;
    border-radius: 50%;
    background: #959188;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border: 1px solid #959188;
    border-radius: 50%;
    background: #959188;
    cursor: pointer;
}

#buttons {
    font-family: 'Raleway', sans-serif; 
    float: left;
    position: relative; 
    /*text-align: left; */
    width: 100%; 
    /*background: #b3b3b3;*/
    padding-top: 1%;
    /*padding-left: 15%;*/
    text-align: center;
}

/*button {
    padding-right: 10%;
}*/

#headerButton {
    text-decoration: none;
    float: right;
}

#saveButton, .button {
    font-family: 'Raleway', sans-serif; 
	background-color: #F9ECE3;
    border: none;
    /*border-radius: 7px;*/
    width: 130px;
    color: #040707;
    padding: 12px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    /*font-weight: bold;*/
    /*margin: 4px 2px;*/
    cursor: pointer;
}
#saveButton:hover, .button:hover {
    background-color: #D9C0B0;
/*    border: 1px solid #666;*/
    color: #040707;
}

#genButton, #headerButton, .button-primary {
    font-family: 'Raleway', sans-serif; 
    background-color: #905E3A;
    border: none;
    /*border-radius: 7px;*/
    min-width: 130px;
    color: #fff;
    padding: 12px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    /*font-weight: bold;*/
    /*margin: 4px 2px;*/
    cursor: pointer;
}
#genButton:hover, #headerButton:hover, .button-primary:hover {
    background-color: #462522;
    /*border: 1px solid #666;*/
    color: #fff;
}


.smallButton {
    font-family: 'Raleway', sans-serif; 
    position: fixed;
    bottom: 20px;
    right: 10%;
    background-color: white;
    border: 1px solid #959188;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #959188;
    padding: 1%;
    margin-left: 2%;
    margin-top: 2%;
    text-align: center;
    line-height: 80%;
    align-items: center;
    text-decoration: none;
    display: inline;
    font-size: 24px;
    cursor: pointer;   
}
.smallButton:hover {
    background-color: #F9ECE3;
    /*border: 1px solid #666;*/
    /*color: white;*/
}

/* CODE FOR THE HELPER MODAL */
@media only screen and (max-width: 800) {
    
}


.modal-content {
    font-family: 'Raleway', sans-serif; 
    color: #666;
    background-color: #F9ECE3;
    margin-left: 5%;
    padding: 10px;
    font-size: 70%;
    /*border: 1px solid #888;*/
    width: 70%;
}
/* The Close Button */
.close {
    color: #666;
    float: top left;
    font-size: 250%;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.heading {
    font-weight: 700;
    color: #666;
}



ol {
    padding-left: 12px;
    /*list-style-type: none;*/
}

#patternColumn {
    font-family: 'Raleway', sans-serif; 
    position: relative; 
    /*text-align: center; */
    /*float: left; */
    margin-left: 156px;
    /*margin-right: 156px;*/
    /*padding-top: 20px;*/
    width: 78%; 
    /*background: #e6e6e6;*/
    /*border-bottom: 1px solid #666;
    border-bottom-style: dotted;*/
}

#pattern {
    background: #fff; 
    height: 100%; 
    width: 100%; 
    float: left; 
    position: relative;
}

#patternDiv {
    display: none;
}

.modal-form {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-form .modal-content {
    margin: auto;
    margin-top: 4rem;
    font-size: 1rem;
    background-color: #fff;
}

.stepper {
    display: inline-flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    font-size: 1.1rem;
    align-items: center;
    margin: -10px -10px 0 -10px;
    background-color: #F9ECE3;
}

.step {
    padding: 1rem 2rem;
    cursor: pointer;
}

.step:hover, .step.current {
    background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
}


.step .icon {
    background-color: #905E3A;
    /*border: 1px solid #666;*/
    color: #fff;
    padding: 0 7px;
    border-radius: 50%;
    margin-right: 7px;
}

.step-between-line {
    border-top-width: 1px;
    border-top-style: solid;
    flex: auto;
    height: 0;
    margin: 0 15px;
}
#navButtons {
    text-align: right;
    clear:both;
}

.stepper-content > div {
    margin-top: 1rem;
    display: inline-block;
    min-width: 100%;
}
textarea {
    max-width: 99%;
    width: 100%;
    height: 7rem;
}

select {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.6rem .6rem .6rem;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23905E3A%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#ffffff 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
/*select::-ms-expand {
    display: none;
}*/
select:hover {
    border-color: #888;
}
select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
select option {
    font-weight:normal;
}

#settingsForm {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#stitchForm .parameters {
    display: flex;
    flex-direction: column;
}

#stitchForm input {
    width: 75%;
}

.square-icon {
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin: 10px;
    position: relative;
    float: left;
}

.square-icon > img {
    position: absolute;
    margin: auto; 
    max-height: 100%;
    max-width: 100%;

    /* For the following settings we set 100%, but it can be higher if needed 
    See the answer's update */
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;

}

.icon-label > input {
    margin-top: 25px;
}

table {
    border-collapse: collapse;
    width:50%;
}
table tr.odd, table thead {
    background-color: #F9ECE3;
}

td, th {
    padding: 5px;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination>li {
    display: inline;
}
.pagination li:hover{
    cursor: pointer;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #905E3A;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 1;
    color: #fff;
    cursor: default;
    background-color: #905E3A;
    border-color: #905E3A;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
